.v-header {
	box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, .2);
	z-index: 999;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #fff
}

.v-header.up-header {
	top: -44px
}

.v-header .container {
	width: 80%
}

@media only screen and (max-width:1350px) {
	.v-header .container {
		width: 100%
	}
}

.v-header .top-bar {
	background-color: #f2f1f1;
	font-family: "Open Sans";
	line-height: 40px
}

@media only screen and (max-width:440px) {
	.v-header .top-bar {
		line-height: 25px
	}
}

.v-header .top-bar a {
	font-size: 14px;
	color: #444;
	margin-right: 30px
}

.v-header .top-bar .g-left>div {
	display: inline-block;
	vertical-align: middle
}

@media only screen and (max-width:991px) {
	.v-header .top-bar .g-left .top-nav {
		display: none
	}
}

.v-header .top-bar .g-right>div {
	display: inline-block
}

.v-header .top-bar .g-right>div:first-child {
	margin-right: 30px
}

@media only screen and (max-width:440px) {
	.v-header .top-bar .g-right>div:first-child {
		margin-right: 10px
	}
}

.v-header .top-bar .g-right>div.contact a {
	margin-right: 0
}

.v-header .top-bar .g-right>div.contact a:before {
	content: url(clientlib-site-revised/images/call-icon.png);
	margin-right: 10px;
	display: inline-block;
	position: relative;
	top: 2px
}

.v-header .top-bar .g-right>div.country {
	position: relative;
	cursor: pointer;
	padding-right: 20px
}

.v-header .top-bar .g-right>div.country>abbr {
	height: 15px;
	background: url(clientlib-site-revised/images/flag-sprite.png);
	width: 15px;
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	background-position: 0 2px
}

@media only screen and (max-width:440px) {
	.v-header .top-bar .g-right>div.country {
		padding: 3px 0;
		padding-right: 15px
	}
}

.v-header .top-bar .g-right>div.country:before {
	content: url(clientlib-site-revised/images/dropdownarrow.png);
	position: absolute;
	right: 0;
	top: 40%;
	transform: translateY(-50%)
}

@media only screen and (max-width:991px) {
	.v-header .top-bar .g-right {
		width: 50%;
		text-align: right
	}
}

.v-header .top-bar .drop-list-flag {
	display: none;
	position: absolute;
	z-index: 10;
	left: -110px;
	top: 100%;
	background-color: #fff;
	width: 190px;
	border: solid 1px #f2f1f1;
	border-top: 0;
	padding: 5px 10px
}

.v-header .top-bar .drop-list-flag.header-section {
	padding: 10px;
	display: none;
	text-align: left
}

.v-header .top-bar .drop-list-flag.header-section.open {
	display: block
}

.v-header .top-bar .drop-list-flag ul {
	margin: 0;
	padding: 0
}

.v-header .top-bar .drop-list-flag ul li {
	list-style: none;
	display: list-item;
	width: 100%;
	align-items: center;
	float: left;
	font-family: "Open Sans";
	font-size: 12px;
	line-height: 25px
}

.v-header .top-bar .drop-list-flag ul li a {
	font-size: 12px !important;
	margin-right: 0;
	display: block;
	width: 100%
}

.v-header .top-bar .drop-list-flag ul li a:hover {
	color: #000
}

.v-header .top-bar .drop-list-flag ul li a span {
	padding: 0 0 0 20px
}

.v-header .top-bar .drop-list-flag ul li a abbr {
	height: 15px;
	background: url(clientlib-site-revised/images/flag-sprite.png);
	width: 15px;
	background-repeat: no-repeat;
	position: relative;
	display: inline-block
}

.v-header .top-bar .drop-list-flag ul li a.india abbr {
	background-position: 0 4px
}

.v-header .top-bar .drop-list-flag ul li a.bangladesh abbr {
	background-position: 0 -11px
}

.v-header .top-bar .drop-list-flag ul li a.egypt abbr {
	background-position: 0 -27px
}

.v-header .top-bar .drop-list-flag ul li a.middle-east abbr {
	background-position: 0 -44px
}

.v-header .top-bar .drop-list-flag ul li a.singapore abbr {
	background-position: 0 -63px
}

.v-header .top-bar .drop-list-flag ul li a.fiji-island abbr {
	background-position: 0 -81px
}

.v-header .top-bar .drop-list-flag ul li a.nepal abbr {
	background-position: 0 -97px
}

.v-header .top-bar .drop-list-flag ul li a.lanka-ap abbr {
	background-position: 0 -114px
}

.v-header .top-bar .drop-list-flag ul li a.lanka-causeway abbr {
	background-position: 0 -130px
}

.v-header .top-bar .drop-list-flag ul li a.indonesia abbr {
	background-position: 0 -149px
}

.v-header .top-bar .drop-list-flag ul li a.ethiopia abbr {
	background-position: 0 -164px
}

.v-header .navigation-main {
	text-align: right;
	z-index: 1
}

.v-header .header-row {
	display: inline-block;
	width: 100%;
	position: relative;
	z-index: 9;
	background: #fff
}

.v-header .header-row>div {
	position: relative
}

.v-header .logo {
	padding: 20px 0
}

@media only screen and (max-width:1400px) {
	.v-header .logo {
		width: 200px
	}
	.v-header .logo img {
		width: 100%
	}
}

@media only screen and (max-width:1050px) {
	.v-header .logo {
		width: 150px;
		padding: 25px 0
	}
}

@media only screen and (max-width:440px) {
	.v-header .logo {
		width: 120px;
		padding: 7px 0;
		margin-top: 3px
	}
}

.v-header .navigation {
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	padding-right: 50px
}

@media only screen and (max-width:1919px) {
	.v-header .navigation {
		padding-right: 30px
	}
}

@media only screen and (max-width:880px) {
	.v-header .navigation {
		width: 80%;
		padding-right: 0;
		position: fixed;
		left: -110%;
		top: 122px;
		background-color: #fff;
		padding: 0 15px;
		margin: 0;
		box-shadow: 1px 0 1px 1px rgba(0, 0, 0, .2);
		-webkit-box-shadow: 1px 0 1px 1px rgba(0, 0, 0, .2);
		-moz-box-shadow: 1px 0 1px 1px rgba(0, 0, 0, .2);
		height: 95vh;
		overflow-y: scroll;
		z-index: 1
	}
	.v-header .navigation.open {
		left: 0
	}
}

@media only screen and (max-width:440px) {
	.v-header .navigation {
		top: 71px
	}
}

@media only screen and (max-width:880px) {
	.v-header .navigation>ul>li>a {
		font-size: 14px;
		padding: 10px 0;
		text-align: left
	}
}

.v-header .navigation>ul>li>a:after {
	content: "";
	height: 5px;
	background-color: #d6330d;
	width: 0;
	bottom: 0;
	left: 0;
	position: absolute
}

.v-header .navigation>ul>li>a:hover {
	padding-bottom: 30px
}

.v-header .navigation>ul>li>a:hover:after {
	width: 0
}

.v-header .navigation>ul>li.open>a:after {
	width: 0
}

.v-header .navigation li {
	margin: 0 30px;
	display: inline-block
}

.v-header .navigation li:hover .mega-menu, .v-header .navigation li.open .mega-menu
	{
	max-height: 1500px;
	opacity: 1;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2)
}

@media only screen and (max-width:880px) {
	.v-header .navigation li:hover .mega-menu, .v-header .navigation li.open .mega-menu
		{
		display: block
	}
}

.v-header .navigation li .sign {
	position: absolute;
	right: 0;
	top: 13px;
	width: 20px;
	height: 20px;
	z-index: 2;
	display: none
}

.v-header .navigation li .sign:before {
	content: "";
	width: 80%;
	height: 2px;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #7350ac;
	position: absolute;
	left: 50%
}

.v-header .navigation li .sign:after {
	content: "";
	width: 2px;
	height: 80%;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
	position: absolute;
	background-color: #7350ac
}

.v-header .navigation li .sign.open:after {
	display: block
}

@media only screen and (max-width:880px) {
	.v-header .navigation li .sign {
		display: block
	}
}

.v-header .navigation li.open .sign:after {
	display: block
}

.v-header .navigation li a {
	font-size: 18px;
	color: #444;
	line-height: 18px;
	font-family: "Open Sans Semibold";
	padding: 30px 0;
	display: inline-block;
	position: relative
}

.v-header .navigation li a:hover {
	color: #7350ac
}

@media only screen and (max-width:1400px) {
	.v-header .navigation li a {
		font-size: 16px
	}
}

@media only screen and (max-width:880px) {
	.v-header .navigation li a {
		padding: 15px 0
	}
	.v-header .navigation li a {
		display: block
	}
}

.v-header .navigation li:last-child {
	margin-right: 0
}

@media only screen and (max-width:1919px) {
	.v-header .navigation li {
		margin: 0 15px;
		width: auto
	}
}

@media only screen and (max-width:1050px) {
	.v-header .navigation li {
		margin: 0 15px
	}
}

@media only screen and (max-width:880px) {
	.v-header .navigation li {
		position: relative;
		display: block;
		width: 100%;
		border-bottom: 1px solid #ccc;
		padding: 0;
		margin: 0
	}
	.v-header .navigation li:last-child {
		border-bottom: 0
	}
}

.v-header .user-nav {
	display: inline-block;
	vertical-align: middle;
	padding-left: 50px;
	position: relative
}

@media only screen and (max-width:1919px) {
	.v-header .user-nav {
		padding-left: 30px
	}
}

@media only screen and (max-width:880px) {
	.v-header .user-nav {
		padding-left: 0
	}
}

.v-header .user-nav li {
	display: inline-block;
	margin-right: 50px;
	padding: 26px 0;
	cursor: pointer
}

.v-header .user-nav li>abbr {
	width: 25px;
	height: 25px;
	background-image: url(clientlib-site-revised/images/user-nav.png);
	background-repeat: no-repeat;
	display: block
}

.v-header .user-nav li>abbr.login-sign {
	background-position: 0 -0
}

.v-header .user-nav li>abbr.search-sign {
	background-position: 0 -50px
}

.v-header .user-nav li>abbr.cart-sign {
	background-position: 0 -100px
}

.v-header .user-nav li>abbr:hover.login-sign {
	background-position: 0 -25px
}

.v-header .user-nav li>abbr:hover.search-sign {
	background-position: 0 -75px
}

.v-header .user-nav li>abbr:hover.cart-sign {
	background-position: 0 -125px
}

.v-header .user-nav li:hover.login-sign {
	background-position: 0 -25px
}

.v-header .user-nav li:hover.search-sign {
	background-position: 0 -75px
}

.v-header .user-nav li:hover.cart-sign {
	background-position: 0 -100px
}

.v-header .user-nav li:last-child {
	margin-right: 0;
	position: relative
}

@media only screen and (max-width:1919px) {
	.v-header .user-nav li {
		margin-right: 35px
	}
}

@media only screen and (max-width:1050px) {
	.v-header .user-nav li {
		margin-right: 15px
	}
}

@media only screen and (max-width:440px) {
	.v-header .user-nav li {
		margin-right: 10px;
		padding: 7px 0
	}
}

.v-header .user-nav:before {
	content: "";
	position: absolute;
	width: 1px;
	left: 0;
	height: 60%;
	top: 50%;
	transform: translateY(-50%);
	background-color: #ccc
}

@media only screen and (max-width:880px) {
	.v-header .user-nav:before {
		display: none
	}
}

.v-header .header-section {
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
	padding: 50px;
	display: inline-block;
	position: absolute;
	height: auto;
	right: 0;
	top: 98%;
	background-color: #fff
}

.v-header .mega-menu {
	padding: 0 50px;
	opacity: 1;
	height: auto;
	max-height: 0;
	overflow: hidden;
	width: 100%;
	box-shadow: 2px 2px 2px 2px transparent;
	-webkit-box-shadow: 2px 2px 2px 2px transparent;
	-moz-box-shadow: 2px 2px 2px 2px transparent
}

.v-header .mega-menu>div {
	padding: 50px 0
}

@media only screen and (max-width:880px) {
	.v-header .mega-menu {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, .2);
		-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, .2);
		-moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, .2);
		padding: 0;
		position: relative;
		max-height: 0 !important;
		overflow: hidden
	}
	.v-header .mega-menu.open {
		padding: 0;
		max-height: 1500px !important;
		margin: 15px 0
	}
}

.v-header .mega-menu .nav-col {
	width: 22%;
	float: left
}

@media only screen and (max-width:880px) {
	.v-header .mega-menu .nav-col {
		width: 50%
	}
	.v-header .mega-menu .nav-col li {
		border-bottom: 0
	}
}

@media only screen and (max-width:440px) {
	.v-header .mega-menu .nav-col ul {
		margin-bottom: 10px
	}
}

@media only screen and (max-width:880px) {
	.v-header .mega-menu .nav-col {
		width: 100%
	}
}

.v-header .mega-menu .nav-img {
	width: 34%;
	float: left
}

.v-header .mega-menu .nav-img img {
	width: 100%
}

@media only screen and (max-width:880px) {
	.v-header .mega-menu .nav-img {
		width: 50%;
		display: block
	}
}

@media only screen and (max-width:440px) {
	.v-header .mega-menu .nav-img {
		width: 100%
	}
}

.v-header .mega-menu ul li {
	width: 100%;
	display: block;
	margin: 10px 0
}

.v-header .mega-menu ul li a {
	padding: 0
}

.v-header .search {
	padding: 0 100px;
	width: 100%;
	max-height: 0;
	height: auto;
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	background-color: transparent;
	box-shadow: 2px 2px 2px 2px transparent;
	-webkit-box-shadow: 2px 2px 2px 2px transparent;
	-moz-box-shadow: 2px 2px 2px 2px transparent;
	z-index: -1
}

@media only screen and (max-width:440px) {
	.v-header .search {
		padding: 0 20px
	}
}

.v-header .search .form-box {
	position: relative
}

.v-header .search input[type="text"] {
	padding-right: 30px
}

.v-header .search.open {
	padding: 0 20px;
	opacity: 1;
	max-height: 1000px;
	overflow: visible
}

.v-header .cart-panel {
	text-align: left;
	padding: 0 25px;
	display: block;
	opacity: 0;
	z-index: -1;
	width: 100%;
	max-width: 350px;
	height: auto;
	max-height: 0;
	overflow-y: hidden;
	box-sizing: border-box
}

.v-header .cart-panel .cart-total-box {
	display: block;
	height: auto;
	max-height: 370px;
	margin-right: -5px;
	overflow-y: scroll
}

@media only screen and (max-width:440px) {
	.v-header .cart-panel .cart-total-box {
		height: calc(100% - 80px);
		max-height: calc(100% - 80px)
	}
}

.v-header .cart-panel .cart-total {
	width: 100%;
	display: inline-block;
	font-size: 14px
}

.v-header .cart-panel .cart-total>div {
	width: 50%
}

.v-header .cart-panel .cart-total>div.cart-items {
	text-align: left;
	display: block;
	background-color: transparent;
	position: relative;
	height: auto;
	color: #444;
	font-size: 14px;
	right: auto;
	font-weight: normal;
	font-size: 14px;
	font-family: "Open Sans Semibold"
}

.v-header .cart-panel .cart-total>div.total-price {
	text-align: right;
	color: #444;
	font-size: 14px
}

.v-header .cart-panel .cart-empty-box {
	display: none
}

.v-header .cart-panel .cart-empty {
	width: 100%;
	display: inline-block;
	font-size: 14px;
	border-bottom: solid 1px #ccc;
	padding-bottom: 20px
}

.v-header .cart-panel .cart-empty>div {
	width: 50%
}

.v-header .cart-panel .cart-empty>div.cart-items {
	text-align: left
}

.v-header .cart-panel p {
	text-align: center;
	padding: 50px 0;
	font-size: 13px
}

.v-header .cart-panel h5 {
	margin-bottom: 10px
}

.v-header .cart-panel b {
	font-family: "Open Sans Semibold"
}

.v-header .cart-panel ul {
	margin: 15px 0
}

.v-header .cart-panel ul li {
	width: 100%;
	display: inline-block;
	padding: 15px 0;
	border-top: 1px solid #ccc
}

.v-header .cart-panel ul li .cart-img {
	width: 30%
}

.v-header .cart-panel ul li .cart-img img {
	width: 100%
}

.v-header .cart-panel ul li .cart-description {
	width: 70%;
	padding-left: 15px
}

.v-header .cart-panel ul li .cart-description h6 {
	font-size: 14px;
	font-family: "Open Sans Semibold";
	margin-bottom: 10px;
	line-height: 20px
}

.v-header .cart-panel ul li .cart-description p {
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 14px;
	padding: 0;
	text-align: left
}

.v-header .cart-panel ul li .cart-description .cart-action {
	display: flex;
	align-items: center
}

.v-header .cart-panel ul li .cart-description .cart-action abbr {
	width: 33.33%;
	font-family: "Open Sans Semibold"
}

.v-header .cart-panel .buy-new-button {
	margin: 0;
	width: 100%
}

.v-header .cart-panel.open {
	padding: 25px 25px;
	max-height: calc(100vh - 65px);
	opacity: 1
}

@media only screen and (max-width:440px) {
	.v-header .cart-panel {
		height: calc(100vh - 65px);
		overflow-y: scroll;
		max-height: calc(100vh - 65px);
		padding: 25px 25px;
		width: 100%;
		opacity: 1;
		right: -100%;
		max-width: 100%
	}
	.v-header .cart-panel.open {
		padding: 25px 25px;
		max-height: auto;
		opacity: 1;
		right: 0
	}
}

.v-header .login {
	width: 220px;
	right: 0;
	padding: 0 20px;
	padding-bottom: 0;
	text-align: left;
	overflow: hidden;
	max-height: 0;
	opacity: 0;
	z-index: -1
}

.v-header .login.open {
	max-height: 500px;
	padding: 0 20px;
	padding-bottom: 20px;
	opacity: 1
}

.v-header .login .login-box h6 {
	font-size: 14px;
	font-family: "Open Sans Semibold";
	line-height: 22px;
	margin-bottom: 10px
}

.v-header .login .login-box h6 span {
	display: block;
	font-size: 12px
}

.v-header .login .login-box p {
	font-size: 12px;
	margin-bottom: 40px;
	line-height: 18px
}

.v-header .login .login-box .action {
	position: absolute;
	bottom: 0;
	display: inline-block;
	width: 100%;
	left: 0;
	background-color: #7350ac
}

.v-header .login .login-box .action a {
	font-size: 12px;
	padding: 15px;
	color: #fff;
	text-align: center;
	width: 50%;
	float: left
}

.v-header .login .logout-box {
	display: block
}

.v-header .login .logout-box h6 {
	font-size: 14px;
	font-family: "Open Sans Semibold";
	line-height: 22px;
	margin-bottom: 10px;
	padding-bottom: 20px;
	border-bottom: solid 1px #ccc
}

.v-header .login .logout-box h6 span {
	display: block;
	font-size: 12px
}

.v-header .login .logout-box p {
	font-size: 12px;
	margin-bottom: 40px;
	line-height: 18px
}

.v-header .login .logout-box p a {
	color: #444
}

.v-header .login .logout-box .action {
	position: absolute;
	bottom: 0;
	display: inline-block;
	width: 100%;
	left: 0;
	background-color: #7350ac
}

.v-header .login .logout-box .action a {
	font-size: 12px;
	padding: 15px;
	color: #fff;
	text-align: center;
	width: 50%;
	float: left
}

.v-header .login .logout-box .action a span {
	position: relative;
	top: 0;
	left: 10px
}

.v-header .nav-bg {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .8);
	opacity: 0;
	top: 0;
	left: 0;
	z-index: -2;
	visibility: hidden
}

.v-header .nav-bg.open {
	opacity: 1;
	visibility: visible
}

.v-header .header-component .suggestion-box .suggestion-search-list .item-details .item-title
	{
	text-align: left
}

.g-left ul {
	margin: 0;
	padding: 0
}

.g-left ul li {
	list-style: none;
	padding: 10px 0;
	float: left;
	font-family: "Open Sans";
	font-size: 13px;
	color: #444;
	margin-right: 20px
}

.g-left ul li a {
	color: #444;
	padding: 10px 0
}

.g-left ul li a:hover {
	color: #000
}

.g-left .g-left-dropdown {
	margin-right: 5px
}

.g-left .g-left-dropdown select {
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-ms-appearance: none;
	background: #f2f1f1 url(clientlib-site-revised/images/dropdownarrow.png)
		no-repeat scroll 100% center;
	border: 0;
	background-position-y: 50%;
	width: 85px;
	font-family: "Open Sans";
	font-size: 11px;
	color: #444;
	margin-right: 10px;
	display: none
}

.g-left .g-left-dropdown select:option {
	padding: 5px
}

.g-left .g-left-dropdown select::-ms-expand {
	display: none
}

@media only screen and (max-width:991px) {
	.g-left {
		width: 50%;
		text-align: left
	}
}

.g-left-dropdown-common {
	margin-right: 5px
}

.g-left-dropdown-common select {
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-ms-appearance: none;
	background: #f2f1f1 url(clientlib-site-revised/images/dropdownarrow.png)
		no-repeat scroll 100% center;
	border: 0;
	background-position-y: 50%;
	width: 120px;
	font-size: 14px
}

.g-left-dropdown-common select:option {
	padding: 5px
}

.g-left-dropdown-common select::-ms-expand {
	display: none
}

@media only screen and (max-width:991px) {
	.g-left-dropdown-common {
		display: none !important
	}
}

.v-header .mega-menu .nav-col>ul>li>ul>li>a {
	font-size: 14px;
	color: #838383;
	line-height: 14px;
	font-family: "Open Sans"
}

.v-header .mega-menu .nav-col>ul>li>ul>li>a:hover {
	color: #7350ac
}

.v-header>.navigation>li a:hover {
	color: #7350ac
}

.nav-col-box {
	width: 70%;
	float: left
}

.v-header .mega-menu .nav-img {
	width: 30%
}

.v-header .mega-menu .nav-col {
	width: 25%
}

.v-header .mega-menu .nav-col.fourcolumn {
	width: 25%
}

.v-header .mega-menu .nav-col.threecolumn {
	width: 33.33%
}

.v-header .navigation li a.active {
	color: #7350ac
}

.v-header .mega-menu .nav-col>ul>li>ul>li>a.active {
	color: #7350ac
}

.v-header .login .login-box .action a {
	color: #fff
}

.v-header .login .login-box .action {
	display: flex;
	align-items: center;
	font-size: 12px;
	color: #fff
}

.global-search {
	flex-grow: 2
}

.global-search .auto-sug-section {
	position: relative;
	z-index: 10
}

.global-search .input-form-container {
	position: relative;
	border: 0;
	box-shadow: 0 0 6px 2px #e2e1e2;
	border-radius: 8px;
	padding: 1px
}

.global-search .input-form-container.focusin {
	background: #fbab33;
	background: -moz-linear-gradient(left, #fbab33 0, #ef3b2b 50%, #4a1997 100%);
	background: -webkit-linear-gradient(left, #fbab33 0, #ef3b2b 50%, #4a1997 100%);
	background: linear-gradient(to right, #fbab33 0, #ef3b2b 50%, #4a1997 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbab33',
		endColorstr='#4a1997', GradientType=1);
	border-radius: 8px;
	box-shadow: 0 0 6px 2px rgba(0, 0, 0, .09)
}

.global-search .input-form-container .input-main-block {
	width: 100%;
	display: flex;
	border-radius: 7px;
	border-radius: 7px;
	background: #fff;
	padding: 0 10px 0 5px;
	align-items: center
}

.global-search .twitter-typeahead {
	width: 100%
}

.global-search .search-input {
	flex-grow: 2;
	font-size: 12px;
	border: 0;
	box-shadow: none;
	border-radius: 7px;
	font-weight: 300;
	position: relative;
	padding: 13px 10px;
	width: 100%;
	color: #9b9b9b;
	font-family: "Open Sans"
}

.global-search .search-input:focus {
	outline: 0;
	border-color: #0ff
}

.global-search input::-webkit-input-placeholder {
	color: #9b9b9b;
	font-size: 12px
}

.global-search input::-moz-placeholder {
	color: #9b9b9b;
	font-size: 12px
}

.global-search input:-ms-input-placeholder {
	color: #9b9b9b;
	font-size: 12px
}

.global-search input::placeholder {
	color: #9b9b9b;
	font-size: 12px
}

.popular-search-container {
	display: none
}






article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block
}

body {
	line-height: 1
}

ol, ul {
	list-style: none
}

blockquote, q {
	quotes: none
}

blockquote:before, blockquote:after {
	content: '';
	content: none
}

q:before, q:after {
	content: '';
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

*:focus {
	outline: 0
}

.wrapper {
	width: 100%;
	float: left;
	position: relative
}

.g-left {
	float: left
}

.g-right {
	float: right
}

.g-row-m {
	margin-top: 40px;
	margin-bottom: 40px
}

.g-con-row {
	margin: 40px 0
}
 