body{
    background-color: #ccffff;
}



#maincontant
{
    margin-top: 5%;
    margin-left: 3%;
}
#maincontant h1
{
    font-family: fantasy;
    font-size: 40px;
}
#maincontant h3
{
    margin-left: 5%;
    font-family: cursive;
}

#forgot
{
    margin-top: 1%;
    margin-left: 40%;
      font-size: 25px;
    
}

#forgot input
{
    
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
  margin-left:  10px;
  font-size: 20px;
   
    border: none;
    border-bottom:  2px solid  black;
    background: transparent;
    color: black;
    outline: none;
    letter-spacing: 1px;
    border-radius: 5px;
}
#forgot input[type=submit]
{
    margin-left: 20%;
    margin-top: 15%;
     border-top:  2px solid  black;
     width: 80%;
     border-radius: 10px;
     color: black;
     font-size: 25px;
}
#forgot input[type=submit]:hover
{
    background-color: #6666ff;
}
#msg
{
    margin-left: 50%;

    font-family:cursive;
    font-size: 25px;
    color: green;
}

.errormsg
{
    font-size: 20px;
    
  margin-left: 1%;
   
    color: red;
}

