/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 Jan, 2019, 5:24:08 PM
    Author     : HP
*/
body
{
    margin: 0px;
    display: fix;
    
   
}
#back_img img
{
    height: 550px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin-top: 1.5%;
   
    padding: 0px;
    
}


#project_name
{
    font-family: Bahnschrift Light;
    font-style: italic;
    font-size: 40px;
    margin-top: -590px;
    margin-left: 50px;
    color:blueviolet;
    
   
}
#project_name h1
{
   color:  #000066;
   font-family: MV Boli;
   font-size: 90px;
   margin-left: 240px;
   margin-top: -70px;
 }
#project_name h3
{     
   color: #000066;
   font-family: calibary;  
   font-size : 90px;
   margin-top: -150px;
   margin-left: 490px;
   
}
#project_moto
{
    color: white;
    font-family:  Trebuchet MS;
    margin-top: 200px;
    margin-left: 50px;
    font-size: 30px;
}
#project_moto h3
{ margin-left: 70px;
  margin-top: -20px;
}
#project_moto span
{
    font-size: 40px;
    color: orange;
}




#info_label
{

     width: 100%;
     height: 150px;
     display: flex;
     margin-top: -20px;
     background: rgba(0,0,0,0.7);
     box-shadow: 5px 1px 25px rgba(0,0,0,0.6);

    
}


#info_label ul{
    
    margin-top: 20px;
    margin-left: 220px;
    font-size: 30px;
   padding: 10px;
   align-self: center;
}

#info_label li{
    
    margin-top: 20px;
    font-family: Cambria Math;
    display: flex;
    color:white;
    font-size: 40px;
     align-content: center;
   align-items: center;

   
}

#info_label  table{
     align-items: center;
}   
