<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
    <appSettings/>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\DDJWLS\App_Data\DDJWLS.mdf;Integrated Security=True;User Instance=True"/>-->
    <!--<add name="DDJWLSConnectionString" connectionString="Data Source=PROGNOSYZ4;Initial Catalog=DDJWLS;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings >
  
    <system.web>

    </system.web>
</configuration>
